<div class="newSurveyWrapper">
    <p class="firstPTag">Draft</p>
    <div class="headlineButtonAria">
        <p class="headline">Create new survey</p>
        <button class="cancelButton">Cancel<img src="/assets/icons/close.svg"></button>
    </div>
    <div class="newSurveyForm">
        <div class="mainDataOfSurvey">
            <div class="nameDateAria">
                <div class="sureNameAria">
                    <p class="SureName">Survey name</p>
                    <div class="sureNameInputAndImg">
                        <div class="sureNameInput">
                            <input type="text">
                        </div>
                        <img src="/assets/icons/close.svg">
                    </div>
                </div>
                <div class="setEndDateArea">
                    <p class="setEndDate">Set end date (optional)</p>
                    <div class="setEndDateInputAndImg">
                        <div class="setEndDateInput">
                            <input type="date">
                        </div>
                        <img src="/assets/icons/close.svg">
                    </div>
                </div>
            </div>
            <div class="descriptionAria">
                <p class="description">Description Text (optional)</p>
                <div class="textareaAndImg">
                    <div class="descriptionInput">
                        <textarea type="text"></textarea>   
                    </div>
                        <img src="/assets/icons/close.svg">
                </div>
            </div>
        </div>
    </div>
    <button class="publishButton">Publish</button>
</div>