<div class="newSurveyWrapper">
    <p class="firstPTag">Draft</p>
    <div class="headlineButtonAria">
        <p class="headline">Create new survey</p>
        <button class="cancelButton">Cancel<img src="/assets/icons/close.svg"></button>
    </div>
    <div class="newSurveyForm">
        <div class="mainDataOfSurvey">
            <div class="nameDateAria">
                <div class="sureNameAria">
                    <p class="SureName">Survey name</p>
                    <div class="sureNameInputAndImg">
                        <div class="sureNameInput">
                            <input type="text">
                        </div>
                        <img src="/assets/icons/Delete.svg">
                    </div>
                </div>
                <div class="setEndDateArea">
                    <div class="inputFieldSite">
                        <p class="setEndDate">Set end date (optional)</p>
                        <div class="setEndDateInputAndImg">
                            <div class="setEndDateInput">
                                <input type="date">
                            </div>
                            <img src="/assets/icons/Delete.svg">
                        </div>
                    </div>
                    <div class="dropdownMenuSite">
                        <button (click)="toggleDropDown()" class="dropdownButton">choose Category<img
                                src="/assets/arrow_drop_down.svg"></button>
                        <div [class.open]="isDropdownOpen" class="dropDownList"></div>
                    </div>
                </div>
            </div>
            <div class="descriptionAria">
                <p class="description">Description Text (optional)</p>
                <div class="textareaAndImg">
                    <div class="descriptionInput">
                        <textarea type="text"></textarea>
                    </div>
                    <img src="/assets/icons/Delete.svg">
                </div>
            </div>
            <div class="questionArea">
                <div class="headlineAndImg">
                    <p class="question">1. Questions</p>
                    <img src="/assets/icons/Delete.svg">
                </div>
                <div class="questionInput">
                    <input type="text">
                </div>
                <div class="answerHeadlineAndSetting">
                    <p>Answers</p>
                    <div class="checkboxAndPtag">
                        <input type="checkbox" name="setting" id="">
                        <p class="settingDetail">allow multiple answers</p>
                    </div>
                </div>
                <div class="answerBox">
                    <div class="count">A.</div>
                    <div class="answerInput">
                        <input type="text">
                    </div>
                    <img src="/assets/icons/Delete.svg">
                </div>
                <div class="answerBox">
                    <div class="count">B.</div>
                    <div class="answerInput">
                        <input type="text">
                    </div>
                    <img src="/assets/icons/Delete.svg">
                </div>
                <a class="addLink" href="#">Add question <img src="/assets/icons/add_circle.svg"></a>
            </div>
            <button class="addQuestionButton">Add question <img src="/assets/icons/add_circle.svg"></button>
        </div>
    </div>
    <button class="publishButton">Publish</button>
</div>