<!-- <p>home-view-component works!</p>
<h2>Hello world</h2> -->
<section (click)="toggleOnlyClose()" class="main-section">
    <div class="logoDivv"><img src="assets/poll_appLogo.svg"></div>
    <div class="textInfoImgDiv">
        <div class="leftSideText">
            <h4>Collect Feedback, <br>
                Unlock Ideas
            </h4>
        <div class="smartphoneImgResponsive">
            <img src="assets/smartphone_logo.svg">
            
        </div>    
            <p>Create and share surveys in minutes – from team events to workplace culture. Collect opinions, engage your audience, and turn feedback into action.</p>
            <button [routerLink]="['newSurvey']">New survey<img src="assets/icons/plus_symbolBlack.svg"></button>
        </div>
        <div class="rightSideImg">
            <img class="standardImg" src="assets/smartphone_logo.svg">
            <img class="hoverImg" src="assets/smartphone_logoHover.svg">
        </div>
    </div>
    <div class="survey-section">
        <div class="headline">Your Surveys</div>
        <div class="middle">Ending soon surveys</div>
        <div class="surveys">
            @if(surveysData){
                @for (item of filterSurveys(); track item) {
                    <div [routerLink]="[`activeSurvey/${item.id}`]" class="survey-card">
                        <p class="surveyCategory">{{ item.category }}</p>
                        <p class="surveyDescription">{{ item.title }}</p>
                        <p class="filteredSurveysDeadline">Ends in {{ (((getDeadlineDate(item.deadline) - todayInMilliseconds)/86400000) + 0.5).toFixed(0) }}day(s)</p>
                        
                    </div>
                }
            }
            
        </div>
        <div class="allSurveysArea">
            <div class="filterArea">
                <div class="activePastButtonArea">
                    <button class="activeSurvey" (click)="filterActiveSurveys()">Active survey</button>
                    <button class="pastSurvey" (click)="filterPastSurveys()">Past survey</button>
                </div>
                <div (click)="stopThePropagation($event)"class="sortArea">
                    <button (click)="toggleFilterOption(); " class="sortedBy">Sort by categories
                        <img src="assets/arrow_drop_down.svg">
                    </button>
                    <div [class.open]="dropdownOpen" class="categorys">
                        <div class="dropDownList">
                        @for (category of categoryArray; track category; let i = $index){
                                <div (click)="filterThisCategory(category)" class="dropDownItem">{{ category }}</div>
                            }
                        </div>
                    </div>
                </div>
            </div>
            <div class="listingSurveys">
                @if(filteredSurveys.length === 0 && noSurveyFound === true){
                    <div class="survey-card">
                        <p class="surveyCategoryMain">category we know everything</p>
                        <p class="allTitle">No Survey found with this category</p>
                        <p class="allDeadline">No dealine at all :)</p>
                    </div>`;
                }
                @if(surveysData && noSurveyFound === false){
                @for (item of filteredSurveys.length ? filteredSurveys : filterSurveyForBottomView(); track item) {
                    <div  [routerLink]="[`activeSurvey/${item.id}`]" class="survey-card">
                        <p class="surveyCategoryMain">{{ item.category }}</p>
                        <p class="allTitle">{{ item.title }}</p>
                        <p class="allDeadline">{{ +(((getDeadlineDate(item.deadline) - todayInMilliseconds)/86400000) +0.5).toFixed(0) > 0
                         ? 'Ends in '+ abs(+(((getDeadlineDate(item.deadline) - todayInMilliseconds)/86400000) +0.5).toFixed(0)) + ' day(s)' : 
                         +(((getDeadlineDate(item.deadline) - todayInMilliseconds)/86400000) +0.5).toFixed(0) === 0 
                         ? 'Today' : 'Ended'  }}</p>
                    </div>
                }
            }
            </div>
        </div>
    </div>
</section>