<!-- <p>home-view-component works!</p>
<h2>Hello world</h2> -->
<section class="main-section">
    <img src="assets/poll_appLogo.svg">
    <div class="textInfoImgDiv">
        <div class="leftSideText">
            <h4>Collect Feedback, <br>
                Unlock Ideas
            </h4>
            <p>Create and share surveys in minutes – from team events to workplace culture. Collect opinions, engage your audience, and turn feedback into action.</p>
            <button [routerLink]="['newSurvey']">New survey</button>
        </div>
        <div class="rightSideImg">
            <img src="assets/smartphone_logo.svg">
        </div>
    </div>
    <div class="survey-section">
        <div class="headline">Your Surveys</div>
        <div class="middle">Ending soon surveys</div>
        <div class="surveys">
            @if(surveysData){
                @for (item of filterSurveys(); track item) {
                    <div (click)="loadQuestions(item.id)" [routerLink]="[`activeSurvey/${item.id}`]" class="survey-card">
                        <p>{{ item.title }}</p>
                        <p>{{ item.description }}</p>
                        <p>{{ item.deadline }}</p>
                    </div>
                }
            }
            
        </div>
        <div class="allSurveysArea">
            <div class="filterArea">
                <div class="activePastButtonArea">
                    <button>Active survey</button>
                    <button>past survey</button>
                </div>
                <div class="sortArea">
                    <button class="sortedBy">Sort by categories
                        <img src="assets/arrow_drop_down.svg">
                    </button>
                </div>
            </div>
            <div class="listingSurveys">
                @if(surveysData){
                @for (item of surveysData.surveys(); track item) {
                    <div (click)="loadQuestions(item.id)" [routerLink]="[`activeSurvey/${item.id}`]" class="survey-card">
                        <p class="allTitle">{{ item.title }}</p>
                        <p class="allDescription">{{ item.description }}</p>
                        <p class="allDeadline">{{ item.deadline }}</p>
                    </div>
                }
            }
            </div>
        </div>
    </div>
</section>