
body{
    display:flex;
    flex-direction:column;
    box-sizing:border-box;
    margin: 0 auto;
    height:100vh;
    margin:39px 111px 92px 111px;
    

}

.main-section{
    margin-top:92px;
    // width:100%;
    max-width:1440px;
    height:100%;
    min-height:1032px;
    display:flex;
    flex-direction:column;
    margin: 0 auto;
    >img{
        width:119px;
        height:46px;
    }
}

.textInfoImgDiv{
    display:flex;
}

.leftSideText{
    width:60%;
    margin-bottom:90px;
    >h4{
        font-size:100px;
        font-family: 'Nerko One', sans-serif;
        color:rgb(255,183,112);
        margin:0px;
        padding:0px;
        margin-bottom:32px;
    }
    >p{
        font-size:24px;
        color:white;
        font-family: 'Mulish', sans-serif;
    }
    >button{
        font-family: 'Nokora', sans-serif;
        background-color:rgba(255, 207, 161, 1);
        padding: 12px 16px;
        border: 1px solid black;
        border-radius: 10px;
        cursor: pointer;
    }
}

.rightSideImg{
    width:40%;
    display:flex;
    justify-content:center;
    align-items:start;
    transition:all 0.5s ease-in-out;
    >img{
        
        animation:changeback 0.5s ease-in-out forwards;
    }
    >img:hover{
        animation:change 0.5s ease-in-out forwards;
        // content:url('/assets/smartphone_logoHover.svg')
    }
}

@keyframes change {
    0%{
        content:url('/assets/smartphone_logo.svg')
    }
    100%{
        content:url('/assets/smartphone_logoHover.svg')
    }
}

@keyframes changeback {
    0%{
        content:url('/assets/smartphone_logoHover.svg')
    }
    100%{
        content:url('/assets/smartphone_logo.svg')
    }
}

.survey-section{
    display:flex;
    flex-direction:column;
    max-width:1440px;
    align-items:center;
    >.headline{
        font-family:'Nerko One', sans-serif;
        font-size:100px;
        color:rgb(255,183,112);
        margin-bottom: 56px;
    }
    >.middle{
        align-self:flex-start;
        font-family: 'Mulish', sans-serif;
        font-size:32px;
        color:white;
        margin-bottom: 32px;
    }
    }

    .surveys{
        display:flex;
        flex-direction:row;
        flex-wrap:wrap;
        justify-content:space-between;
        gap: 32px;
        >.survey-card{
            padding: 40px 44px 60px 44px;
            background-color:white;
            color:black;
            width:321px;
            height:310px;
            font-family: 'Mulish', sans-serif;
            font-size:24px;
            margin-bottom: 40px;
            cursor: pointer;
            border: 1px solid black;
            border-top-right-radius: 80px;
        }
    }

    .filterArea{
        max-width:1440px;
        height:25px;
        >.activePastButtonArea{
            display:flex;
            width:249px;
            gap:24px;
            >button{
                padding: 2px 10px;
                border-radius:20px;
            }
            >button:first-child{
                background-color:rgb(255,183,112);
            }
            >button:nth-child(2){
                background-color:rgba(255, 207, 161, 1);
            }
        }
    }
