body.show-body {
    background-color: white;
    margin: 0px;
    padding: 0px;
    // height:100vh;
}

.mainWrapper {
    max-width: 1280px;
    margin: 47px auto 50px auto;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
}

.headLogoButtonArea {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 10px;

    >img {
        width: 150px;
        height: 50px;
    }

    >button {
        cursor: pointer;
        padding: 10px 25px;
        border-radius: 10px;
        border: 1px solid rgb(255, 183, 112);
        background-color: rgb(255, 183, 112);
    }
}

.surveyStatisticWrapper {
    display: flex;
    max-width: 1280px;
    margin-top: 37px;
    width: 100%;
    // height:855px;
    background-color: rgb(255, 255, 255);

}

.surveyWrapperLeftSide {
    display: flex;
    position: relative;
    padding: 40px 40px 40px 40px;
    margin: 0px 20px 0px 10px;
    box-sizing: border-box;
    flex-direction: column;
    width: 100%;
    max-width: 702px;
    // height:855px;
    border-top-right-radius: 160px;
    background-color: rgb(243, 239, 245);

    >.statusOfSurvey {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 94px;
        height: 26px;
        padding: 10px 30px 10px 30px;
        box-sizing: border-box;
        margin: 0px;
        background-color: rgb(255, 183, 112);
    }
}

.deadlineCategoryWrapper {
    display: flex;
    justify-content: space-between;
}

.mainSurveyHeadline {
    font-size: 56px;
    font-family: 'Nerko One', sans-serif;
    color: rgb(196, 177, 6);
    margin: 0px;
}

.mainSurveyDescription {
    font-size: 16px;
    font-family: 'Mulish', sans-serif;
    color: rgba(53, 39, 58, 1);
    margin: 0px;
}

.questionWrapper {
    font-family: 'Mulish', sans-serif;

    >.question {
        font-size: 18px;

    }

    >.answer {
        display: flex;
        align-items: center;
        cursor: pointer;

        input[type="checkbox"] {
            cursor: pointer;
            appearance: none;
            -webkit-appearance: none;
            background-color: transparent;
            border-radius: 3px;
            width: 15px;
            height: 15px;
            border: 2.5px solid rgba(53, 39, 58, 1);
            margin-right: 16px;
        }

        input[type="checkbox"]:hover {
            background-color: rgba(255, 207, 161, 0.6);
        }

        input[type="checkbox"]:checked {
            border: none;
            background-image: url("/assets/icons/input_checked.svg");

        }


        >.count {
            margin-right: 4px;
            font-weight: bold;
        }
    }
}

.questionAnswerWrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.completeSurveyButton {
    cursor: pointer;
    display: flex;
    align-self: end;
    justify-self: end;
    width: 130px;
    padding: 8px 12px;
    border-radius: 10px;
    border: 1px solid rgba(255, 183, 112, 0.3);
    background-color: rgba(255, 183, 112, 0.3);

    &:hover {
        background-color: rgba(255, 183, 112, 0.6);
    }

}

.statisticsWrapperRightSide {
    margin-left: 42px;
    margin-right: 15px;

    h2 {
        display: flex;
        font-family: 'Nerko One', sans-serif;
        font-size: 32px;
        color: rgb(0, 0, 0);
        align-items: center;
        margin-top: 210px;
    }

    .live {
        color: rgb(255, 183, 112);
        font-size: 32px;
        margin: 0px;
    }

    .statisticsDescription {
        font-size: 18px;
    }

    .noAnswers {
        font-size: 18px;
        color: rgba(53, 39, 58, 1);
        margin-top: 146px;
    }

    >p {
        >b {
            font-size: 18px;
            color: rgba(215, 148, 81, 1);
        }
    }
}

.diagram {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 15px;

    >b {
        font-size: 18px;
        color: rgba(215, 148, 81, 1);
    }
}

@media(max-width:930px) {
    .surveyStatisticWrapper {
        flex-direction: column;
    }
    .statisticsWrapperRightSide{
    >h2{
            margin-top:105px;
    }
}
}

@media(max-width:730px) {
    .surveyWrapperLeftSide {
        width: unset;
    }
}

@media(max-width:710px) {
    .mainSurvey {
        >.questionAnswerWrapper {
            grid-template-columns: 1fr;
        }
    }
}

@media(max-width:640px) {
    .mainSurvey {
        >.mainSurveyHeadline {
            display: inline-block;

            font-size: 40px;
            word-break: break-all;
            overflow: hidden;
            text-overflow: ellipsis;
        }
    }
}
@media(max-width:440px){
    .surveyWrapperLeftSide{
        padding:40px 40px 40px 20px;
    }
    .mainSurvey {
        >.mainSurveyHeadline {
            font-size: 25px;
        }
    }
}


@media(max-width:400px) {
    .mainSurvey {
        >.deadlineCategoryWrapper {
            flex-direction: column;
        }
    }
}