
@font-face {
    font-family: 'Nokora';
    src: url('/fonts/Nokora/static/Nokora-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Mulish';
    src: url('/fonts/Mulish/static/Mulish-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Nerko One';
    src: url('/fonts/Nerko_One/NerkoOne-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}